body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #9900FF, #CC00FF);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  button#goBack {
    font-size: 2em;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: #FFFFFF;
    color: #9900FF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#goBack:hover {
    background-color: #CC00FF;
  }
  
  button#voiceButton {
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #FFFFFF;
    color: #9900FF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
 
  
  
  button#voiceButton:hover {
    background-color: #FF00FF;
    color: #FFFFFF;
  }
  
  .title {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .instructions {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 10px 20px;
  }
  
  .instructions-content {
    
    text-align: center;
  }
  .gallery-container {
    width: 500px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    overflow: hidden;
    position: relative;
  }
  
  .gallery-slides {
    display: flex;
    animation: slideShow 10s infinite;
  }
  
  .gallery-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes slideShow {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-100%);
    }
    66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .video-container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
  }
  
  video {
    display: block;
    width: 100%;
    outline: none;
  }
  
  /* Custom styling for the video controls */
  video::-webkit-media-controls {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 10px;
  }
  
  video::-webkit-media-controls-play-button,
  video::-webkit-media-controls-timeline,
  video::-webkit-media-controls-current-time-display,
  video::-webkit-media-controls-time-remaining-display,
  video::-webkit-media-controls-mute-button,
  video::-webkit-media-controls-volume-slider {
    color: #fff;
  }
  
  video::-webkit-media-controls-play-button {
    background-color: transparent;
  }
  
  video::-webkit-media-controls-mute-button {
    margin-left: auto;
    margin-right: 10px;
  }
  
  video::-webkit-media-controls-timeline,
  video::-webkit-media-controls-current-time-display,
  video::-webkit-media-controls-time-remaining-display,
  video::-webkit-media-controls-volume-slider {
    display: none;
  }
  
  video::-webkit-media-controls-fullscreen-button {
    display: none;
  }
  .background-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, #9900FF, #CC00FF, #00FFCC,#FF355E );
    background-size: 400% 400%;
    animation: backgroundAnimation 10s ease-in-out infinite;
  }
  
  
  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
      opacity: 1;
    }
    50% {
      background-position: 100% 50%;
      opacity: 0.5;
    }
    100% {
      background-position: 0% 50%;
      opacity: 1;
    }
  }
  
  
  
#voiceInput {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
  }

#voicePreview {
    text-transform: uppercase;
    animation: typing 1s steps(40), blink-caret 0.75s step-end infinite;
    
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-right-color: transparent;
    }
    50% {
      border-right-color: white;
    }
  }
  .about {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    position: fixed;
  
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 10px 20px;
  }
  .suggestions-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .suggestions-form label,
  .suggestions-form input,
  .suggestions-form textarea,
  .suggestions-form select {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .suggestions-form textarea,
  .suggestions-form select {
    width: 300px;
  }
  
  .suggestions-form button[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #00FFCC;
    color: #9900FF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggestions-form button[type="submit"]:hover {
    background-color: #FF00FF;
    color: #FFFFFF;
  }
  .formu {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    position: fixed;
  
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 10px 20px;
  }